@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Menu';
  src: url('../../public/Fonts/Majed_MRT.ttf');
}
@font-face {
  font-family: 'Alertdescription';
  src: url('../../public/Fonts/Parand_MRT.TTF');
}
@font-face {
  font-family: 'Title';
  src: url('../../public/Fonts/Baseet_MRT.ttf');
}
@font-face {
  font-family: 'button';
  src: url('../../public/Fonts/Net_MRT.ttf');
}
@font-face {
  font-family: 'Service';
  src: url('../../public/Fonts/SKAMRAN.TTF');
}
@font-face {
  font-family: 'regular';
  src: url('../../public/Fonts/SKAMRNBD.TTF');
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.before,.after{
  height: 450px;
}

.before figcaption,
.after figcaption {
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  color: #2e3452;
  opacity: 0.8;
  padding: 12px;
  transform: translateY(-50%);
  line-height: 100%;
  text-align: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
