@tailwind base;
@tailwind components;
@tailwind utilities;
body{


  overflow-x: hidden;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Menu';
  src: url('../../public/Fonts/Majed_MRT.ttf');
}
@font-face {
  font-family: 'Alertdescription';
  src: url('../../public/Fonts/Parand_MRT.TTF');
}
@font-face {
  font-family: 'Title';
  src: url('../../public/Fonts/Baseet_MRT.ttf');
}
@font-face {
  font-family: 'button';
  src: url('../../public/Fonts/Net_MRT.ttf');
}
@font-face {
  font-family: 'Service';
  src: url('../../public/Fonts/SKAMRAN.TTF');
}
@font-face {
  font-family: 'regular';
  src: url('../../public/Fonts/SKAMRNBD.TTF');
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


.before figcaption,
.after figcaption {
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  color: #2e3452;
  opacity: 0.8;
  padding: 12px;
  transform: translateY(-50%);
  line-height: 100%;
  text-align: center;
}
.swiper {
  margin-top: 5rem;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#darkSwiper .swiper-pagination-bullet{
  background: aqua !important;
}
#lightSwiper .swiper-pagination-bullet{
  background: rgb(255, 0, 225) !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  position: relative;
}

.loader .dot {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  transform: translate3d(0, -25px, 0) scale(1);
  animation: movement 2s infinite ease-in-out;
}

.loader .dot:nth-of-type(odd)::before,
.loader .dot:nth-of-type(even)::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: size-opacity 2s infinite ease;
}

.loader .dot:nth-of-type(even)::before {
  background-color: #ff47aa;
  box-shadow: inset 0 0 4px #ff1492;
}

.loader .dot:nth-of-type(odd)::before {
  background: white;
}

@keyframes movement {
  0% {
    transform: translate3d(0, -25px, 0);
    z-index: 0;
  }
  50% {
    transform: translate3d(0, 25px, 0);
    z-index: 10;
  }
  100% {
    transform: translate3d(0, -25px, 0);
    z-index: -5;
  }
}

@keyframes size-opacity {
  0%, 50%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  75% {
    opacity: 0.35;
    transform: scale(0.5);
  }
}

.loader .dot {
  --delay-step: 0.2s;
}

.loader .dot {
  --delay-base: -0.1s;
}

.UploadLoader {
  width: 70px;
  height: 70px;
  background: #398EB6;
  border-radius: 50px;
  -webkit-mask: 
    radial-gradient(circle 31px at 50% calc(100% + 13px), #000 95%, #0000) top 4px left 50%,
    radial-gradient(circle 31px, #000 95%, #0000) center,
    radial-gradient(circle 31px at 50% -13px, #000 95%, #0000) bottom 4px left 50%,
    linear-gradient(#000 0 0);
  mask: 
    radial-gradient(circle 31px at 50% calc(100% + 13px), #000 95%, #0000) top 4px left 50%,
    radial-gradient(circle 31px, #000 95%, #0000) center,
    radial-gradient(circle 31px at 50% -13px, #000 95%, #0000) bottom 4px left 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: l10 1.5s infinite;
}
@keyframes l10 {
  0%    {-webkit-mask-size:0    18px,0    18px,0    18px,auto}
  16.67%{-webkit-mask-size:100% 18px,0    18px,0    18px,auto}
  33.33%{-webkit-mask-size:100% 18px,100% 18px,0    18px,auto}
  50%   {-webkit-mask-size:100% 18px,100% 18px,100% 18px,auto}
  66.67%{-webkit-mask-size:0    18px,100% 18px,100% 18px,auto}
  83.33%{-webkit-mask-size:0    18px,0    18px,100% 18px,auto}
  100%  {-webkit-mask-size:0    18px,0    18px,0    18px,auto}
}
@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Main loader config*/
.loader .dot:nth-of-type(1) { left: 150px; animation-delay: calc(var(--delay-base) + 0 * var(--delay-step)); }
.loader .dot:nth-of-type(2) { left: 150px; animation-delay: calc(var(--delay-base) - 1 * var(--delay-step)); }
.loader .dot:nth-of-type(3) { left: 125px; animation-delay: calc(var(--delay-base) + 1 * var(--delay-step)); }
.loader .dot:nth-of-type(4) { left: 125px; animation-delay: calc(var(--delay-base) - 2 * var(--delay-step)); }
.loader .dot:nth-of-type(5) { left: 100px; animation-delay: calc(var(--delay-base) + 2 * var(--delay-step)); }
.loader .dot:nth-of-type(6) { left: 100px; animation-delay: calc(var(--delay-base) - 3 * var(--delay-step)); }
.loader .dot:nth-of-type(7) { left: 75px; animation-delay: calc(var(--delay-base) + 3 * var(--delay-step)); }
.loader .dot:nth-of-type(8) { left: 75px; animation-delay: calc(var(--delay-base) - 4 * var(--delay-step)); }
.loader .dot:nth-of-type(9) { left: 50px; animation-delay: calc(var(--delay-base) + 4 * var(--delay-step)); }
.loader .dot:nth-of-type(10) { left: 50px; animation-delay: calc(var(--delay-base) - 5 * var(--delay-step)); }
.loader .dot:nth-of-type(11) { left: 25px; animation-delay: calc(var(--delay-base) + 5 * var(--delay-step)); }
.loader .dot:nth-of-type(12) { left: 25px; animation-delay: calc(var(--delay-base) - 6 * var(--delay-step)); }
.loader .dot:nth-of-type(13) { left: 0px; animation-delay: calc(var(--delay-base) + 6 * var(--delay-step)); }
.loader .dot:nth-of-type(14) { left: 0px; animation-delay: calc(var(--delay-base) - 7 * var(--delay-step)); }
.loader .dot:nth-of-type(15) { left: -25px; animation-delay: calc(var(--delay-base) + 7 * var(--delay-step)); }
.loader .dot:nth-of-type(16) { left: -25px; animation-delay: calc(var(--delay-base) - 8 * var(--delay-step)); }
.loader .dot:nth-of-type(17) { left: -50px; animation-delay: calc(var(--delay-base) + 8 * var(--delay-step)); }
.loader .dot:nth-of-type(18) { left: -50px; animation-delay: calc(var(--delay-base) - 9 * var(--delay-step)); }
.loader .dot:nth-of-type(19) { left: -75px; animation-delay: calc(var(--delay-base) + 9 * var(--delay-step)); }
.loader .dot:nth-of-type(20) { left: -75px; animation-delay: calc(var(--delay-base) - 10 * var(--delay-step)); }
.loader .dot:nth-of-type(21) { left: -100px; animation-delay: calc(var(--delay-base) + 10 * var(--delay-step)); }
.loader .dot:nth-of-type(22) { left: -100px; animation-delay: calc(var(--delay-base) - 11 * var(--delay-step)); }
.loader .dot:nth-of-type(23) { left: -125px; animation-delay: calc(var(--delay-base) + 11 * var(--delay-step)); }
.loader .dot:nth-of-type(24) { left: -125px; animation-delay: calc(var(--delay-base) - 12 * var(--delay-step)); }
.loader .dot:nth-of-type(25) { left: -150px; animation-delay: calc(var(--delay-base) + 12 * var(--delay-step)); }
.loader .dot:nth-of-type(26) { left: -150px; animation-delay: calc(var(--delay-base) - 13 * var(--delay-step)); }
